* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 800%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

header {
  display: flex;
  padding: 2rem;

  .logo {
    flex: 0 0 60%;
    img {
      width: 100%;
    }
  }

  .company-name {
    flex: 0 0 40%;
    text-align: center;
    align-self: center;
  }
}

nav {
  ul {
    display: flex;
    justify-content: space-around;
    li {
      list-style: none;
      a {
        display: inline-block;
        padding: 1.6rem;
        text-decoration: none;
        font-weight: bold;
        color: #000;
      }
    }
  }
  margin-bottom: 2rem;
}

main {
  display: flex;
  article {
    flex: 0 0 70%;
    h1 {
      text-align: center;
    }
    h2,
    p {
      padding-top: 1.2rem;
      padding-left: 2rem;
    }
    .step-one,
    .step-two,
    .step-three {
      display: flex;
      flex-direction: column;
      img {
        width: 40%;
        margin-left: 2rem;
        border-radius: 0.8rem;
      }
    }

    .step-two img,
    .step-three img {
      .new-pull-request {
        width: 100%;
      }
      width: 100%;
    }

    .step-three {
      .create-new-branch,
      .source-control {
        width: 40%;
      }
    }
  }
  form {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    label {
      margin-top: 0.6rem;
    }
    input {
      width: 80%;
      margin: 0 auto;
      padding: 1.6rem;
      outline: none;
      border: none;
      border-radius: 0.8rem;
      margin-top: 0.8rem;
    }
  }
}

footer {
  p {
    text-align: center;
    margin: 2rem 0 2rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
